//@import "~bootstrao/scss/bootstrap";  si può inserire anche così
@import 'bootstrap';
@import "~@fontsource/roboto/index.css";
//@import "~fontsource/roboto/500.css"; se volessi font-weight: 500 standard 400

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}