//@import "~bootstrao/scss/bootstrap";  si può inserire anche così
@import 'bootstrap';
@import "~@fontsource/pt-sans/index.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans";
    background-color: #1e2d3b;
}